/*****************************shared by all pages*****/
body{
	background-color: #f9f8f4;
	margin: 0;
	font-family: sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 800px;
	height:100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition:  .5s;
	z-index: 2;
}

nav .logo {
	float: left;

}

nav .logo img {
	height: 50px;
	transition: .5s;

}

nav ul {
	float: right;
	margin: 0;
	padding: 0px;
	display: flex;

}

nav ul li {
	list-style: none;
	padding-top: 10px;
}

nav ul li a {
	line-height: : 80px;
	color: white;
	padding: 5px 30px;
	font: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

nav ul li a.red, nav ul li a:hover {
	color: #fff;
	background: #f00;
}

.nav1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:65px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition:  .5s;
	z-index: 2;
	background-color: #cc4560;
	opacity: 0.8;
}

.nav1 .logo {
	float: left;

}

.nav1 .logo img {
	height: 50px;
	transition: .5s;

}

.nav1 ul {
	float: right;
	margin: 0;
	padding: 0px;
	display: flex;

}

.nav1 ul li {
	list-style: none;
	padding-top: 10px;
}

.nav1 ul li a {
	line-height: : 80px;
	color: white;
	padding: 5px 30px;
	font: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.nav1 ul li a.red, nav ul li a:hover {
	color: #fff;
	background: #f00;
}

.container {
	margin-top: 100px;
	margin-left: 320px;
	margin-right: 320px;
	min-width: 800px;
	margin-bottom: 100px;
}

.block {
	margin-top: 40px;
	border-radius: 10px;
	box-shadow: 1px;
	box-shadow: 0px 0px 40px 8px #d1d1d1 ;

	background-color: white;
	padding: 10px;
}

/***************************************************************/

#userProileHeader{
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	padding:0;
	margin-top: 10px;
	margin-bottom: 20px;
}

#userProileHeader li{
	display: inline-block;
	vertical-align: middle;
}

.secTitle{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #cc4560;
}

#logoPic img{
	width: 45px;
	height: 45px;
}

.profilePic{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#headerPic{
	margin-left: 10px;
	vertical-align: middle;
}

#postPic{
	margin-right: 10px;
}

table{
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	text-align: center;
}

#userProfile th, #userProfile td{
	width:25%;
	table-layout: fixed;
}

thead th{
	border-bottom:1px grey solid;
	padding: 5px 0;
}

tr td{
	padding:5px 0;
}


tr td button, .deletePostButton, .sendButton, .closeSectionButton{
	margin-left:5px;
	border-radius: 10px;
	background: white;
	transition: .5s;
}

.sendButton{
	margin-right:23px;
	float: right;
}

.postContainer{
	border-top: 1px solid grey;
	margin: 5px;
	padding:15px 0;
}

.post{
	margin:10px;
}

.whoPost{
	margin:10px 0;
	padding:0;
}

.whoPost li{
	display: inline-block;
	vertical-align: middle;
}

.postContent{
	padding:3px;
	margin:10px 0px;
	vertical-align: middle;
}

.deletePostButton{
	float: right;
	margin-right: 5px;
}

.hashTag{
	color: #06a9d1;
}

.commentReply{
	background: #ebedf4;
	margin: 10px 0;
	border-radius: 5px;
}

.comment, .reply{
	padding:3px 5px;
	border-radius: 5px;
}

.comment:hover, .reply:hover{
	background: #d3dbe8;
}

.userName{
	color: #cc4560;
}

.userName:hover{
	text-decoration: underline;
}

.dateTime{
	color:grey;
	font-size: 0.8em;
}

.subject{
	font-size: 1.1em;
	font-weight: bold;
}

.popUpPage{
	z-index: 1;
	background: #68707c;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.popUpRegion{
	background: white;
	width:50%;
	margin: 100px auto;
	border-radius: 5px;
	border: 2px solid #cc4560;
	text-align: center;
	padding:50px 30px;
}

.popUpTitle, .popUpContent, .popUpTextBox{
	margin:20px 0;
}

.popUpTextBox{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	width: 80%;
}

.continueButton, .cancelButton{
	border-radius: 10px;
	margin-top: 15px;
}

.cancelButton{
	margin-left: 10px;
}

.nullMessage{
	width: 80%;
	color:#abb5c6;
	text-align: center;
	margin: 20px auto;
}

button:hover{
	background: #cc4560;
	color:white;
	border-color: white;
	transition: .5s;
}

.mailContainer{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	margin:15px 0 10px 0;
	vertical-align: middle;
	border-radius: 10px;
	background: #ebedf4;
	width: 99%;
}

.mailHeader{
	font-weight: bold;
	font-size: 1.1em;
}

.subjectTextBox,.contentTextBox{
	margin-top: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	width: 98%;
	border:#d3dae5 2px solid;
}

.closeOrderButtonContainer{
	width: 100%;
	text-align: center;
}

.closeSectionButton{
	width: 45%;
	margin: 10px auto;
}

.orderTable{
	table-layout: fixed;
}

.postInformation{
	border:none;
}

.footer {
	margin-top: 100px; 
	color: white;
	width: 100%;
	height:45px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition:  .5s;
	z-index: 2;
	background-color: #cc4560;
	opacity: 0.8;
	text-align:center;
}
