body {
	background-color:#f9f8f4;
	margin: 0;
	font-family: sans-serif;
	min-width: 1000px;
}


nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition:  .5s;
	z-index: 2;
	min-width: 1000px;
}

nav .logo {
	float: left;

}

nav .logo img {

	height: 50px;
	transition: .5s;

}

nav ul {
	float: right;
	margin: 0;
	padding: 0px;
	display: flex;

}

nav ul li {
	list-style: none;
	padding-top: 10px;
}

nav ul li a {
	line-height: : 80px;
	color: white;
	padding: 5px 30px;
	font: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	transition: .5s;
}

nav ul li a.red, nav ul li a:hover {
	color: #fff;
	background: #f00;
	transition: .5s;
}




.nav1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:65px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition:  .5s;
	z-index: 2;
	background-color: #cc4560;
	opacity: 0.8;
}

.nav1 .logo {
	float: left;

}

.nav1 .logo img {
	height: 45px;
	transition: .5s;

}

.nav1 ul {
	float: right;
	margin: 0;
	padding: 0px;
	display: flex;

}

.nav1 ul li {
	list-style: none;
	padding-top: 10px;
}

.nav1 ul li a {
	line-height: : 80px;
	color: white;
	padding: 5px 30px;
	font: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	transition: .5s;
}

.nav1 ul li a.red, nav ul li a:hover {
	color: #fff;
	background: #f00;
	transition: .5s;
}



#neviSearch{
	position:absolute;
	left: 360px;
}


#neviSearch input{
	border-radius: 5px;
	margin-right: 20px;
	color: #cc4560;
	padding: 10px 35px;


}


section div.videoContainer {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 0;

}

section div video {
	width: 100%;

	overflow: hidden;
}

.overlay {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: black;
	
	z-index: 1;
	opacity: 0.7;
}

.cover-content {
	position: relative;
	z-index: 2;
	margin-top: 38vh;
	text-align: center;
}

.cover-content h1 {
	color: white;
	font-size: 50px;
	margin-bottom: 0px;
}

.cover-content p {

	color: white;
	font-size: 30px;
	display: block;
	padding-bottom: 6vh;
}

#coverP {
	padding-left: 20%;
	padding-right: 20%;
}

#button1 {
	background-color: white;
	line-height: : 80px;
	border: none;
	text-align: center;
	color: black;
	padding: 15px 35px;
	font: bold;
	border-radius: 5px;
	text-decoration: none;
}

#button1:hover {
	background-color: #f00;
	line-height: : 80px;
	border: none;
	text-align: center;
	color: white;
	padding: 15px 35px;
	font: bold;
	border-radius: 5px;
	text-decoration: none;
	transition: .5s;
}




.container {
	margin-top: 100px;
	margin-left: 320px;
	margin-right: 320px;
	
	height: 1400px;
}


.block h1{
	padding-left: 40px;
	padding-top: 20px;
	color: #cc4560;
}

.intro p {
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
}

.block {
	margin-top: 40px;
	border-radius: 10px;
	box-shadow: 1px;
	box-shadow: 0px 0px 40px 8px #d1d1d1 ;

	background-color: white;
	padding: 10px;
}


.chart1Options {
	position: relative;
	padding-top: 3%;

}

.buttons{
	background-color: grey;
	border: none;
	text-align: center;
	color: black;
	width: 150px;
	padding: 10px 35px;
	font: bold;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	transition: .5s;
}

.buttons:hover{
	background-color: #f00;
	border: none;
	text-align: center;
	color: white;
	width: 150px;
	padding: 10px 35px;
	font: bold;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	text-decoration: none;
}

.buttonsp {
	position: relative;
	margin-top: 5px;
	background-color: grey;
	border: none;
	text-align: center;
	color: black;
	width: 250px;
	padding: 10px 35px;
	font: bold;
	border-radius: 10px;
	margin-right: 20px;

	margin-bottom: 10px;
	text-decoration: none;
	transition: .5s;
}

.buttonsp:hover {
	padding-left: 50px;
	background-color: #f00;
	border: none;
	text-align: center;
	color: white;
	width: 250px;
	padding: 10px 35px;
	font: bold;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	transition: .5s;
}

.buttonsp:active {
  background-color: #f00;
  box-shadow: 2px 2px 2px 2px #666;
  transform: translateY(4px);
  color: white;
}

.buttons:active {
  background-color: #f00;
  box-shadow: 2px 2px 2px 2px #666;
  transform: translateY(4px);
  color: white;
}

.chart1block {
	
}

#chart1search {
	padding-top: 2%;
	padding-left: 40px;
	padding-bottom: 2%;
}

#chart1search input {
	border-radius: 5px;
	margin-right: 20px;
	color: #cc4560;
	padding: 10px 35px;
}


#searchbtn:hover {
	background-color: #cc4560;
	color: white;
	transition: .5s;
}

#searchbtn:active {
  background-color: #cc4560;
  box-shadow: 2px 2px 2px 2px #666;
  transform: translateY(4px);
  color: white;
  transition: .5s;
}

#likebtn:hover {
	background-color: #cc4560;
	color: white;
	transition: .5s;
}

#likebtn:active {
  background-color: #cc4560;
  box-shadow: 2px 2px 2px 2px #666;
  transform: translateY(4px);
  color: white;
  transition: .5s;
}

#likedbtn:hover {
	background-color: #cc4560;
    color: white;
    transition: .5s;
}

#likebtn {
	background-color: #DDDDDD;
	border-radius: 5px;
	margin-right: 20px;
	color: #cc4560;
	padding: 10px 35px;
	transition: .5s;
	
}

#likedbtn {
	background-color: #cc4560;
	border-radius: 5px;
	margin-right: 20px;
	color: white;
	padding: 10px 35px;
	transition: .5s;
}

#likedbtn:active {
	background-color: #cc4560;
	color: white;
	transition: .5s;

}

#stockPageStockInfo{
	padding-top: 2%;
	padding-bottom: 2%;

}

#stockPageStockInfo div{
	padding-top: 8px;
	float: left;
	width: 70%;
}

#stockPageStockInfo span{

	padding-left: 40px;
}


#userProileHeader{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding:0;
	margin-top: 10px;
	margin-bottom: 20px;
}

#userProileHeader li{
	display: inline-block;
	vertical-align: middle;
}

.secTitle{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #cc4560;
}

.profilePic{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#headerPic{
	margin-left: 10px;
	vertical-align: middle;
}

#postPic{
	margin-right: 10px;
}

table{
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	text-align: center;
}

#userProfile th, #userProfile td{
	width:25%;
	table-layout: fixed;
}

thead th{
	border-bottom:1px grey solid;
	padding: 5px 0;
}

tr td{
	padding:5px 0;
}

tr td button{
	margin-left:5px;
}

.postContainer{
	border-top: 1px solid grey;
	margin: 5px;
	padding:10px 0;
}

.post{
	margin:10px;
}

.whoPost{
	margin:10px 0;
	padding:0;
}

.whoPost li{
	display: inline-block;
	vertical-align: middle;
}

.postContent{
	padding:3px;
	margin:10px 0px;
	vertical-align: middle;
}

.deletePostButton{
	float: right;
	margin-right: 5px;
}

.hashTag{
	color: #06a9d1;
}

.commentReply{
	background: #ebedf4;
	margin: 10px 0;
	border-radius: 5px;
}

.comment, .reply{
	padding:3px 5px;
}

.userName{
	color: #9a64fc;
}

.dateTime{
	color:grey;
	font-size: 0.8em;
}

.subject{
	font-size: 1.1em;
	font-weight: bold;
}


.cancelButton{
	margin-left: 10px;
}

.nullMessage{
	width: 80%;
	color:#abb5c6;
	text-align: center;
	margin: 20px auto;
}




#selfPost {
	width: 90%;
	height:100px;
	text-align:none;
	margin-left: 5%;
	margin-right: 5%;
}


.makePost h2{
	padding-left: 50px;
	color: #cc4560;
	padding-top: 10px;
	padding-bottom: 10px;
}

#selfPostBtn {
	margin-left: 53px;
	margin-top: 15px;
}




.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
      /* Center slide text vertically */
      /*      
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;*/

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.newsimg{
  	width: 80%;
   	padding-top: 30px;
}

.newsImgContainer {
    width: 100%;
}
.newsContent{
   	padding-top: 50px;
   	text-align:center;
    padding-bottom: 50px;
}

.newsContent p{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.newsContent h2{
	color: #cc4560;
	padding-left: 10%;
	padding-right: 10%;
}


.RecommandedStockInfoTable h1 {
	padding-bottom: 20px;
}

.footer {
	margin-top: 100px; 
	color: white;
	position: absolute;
	left: 0;
	width: 100%;
	height:45px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition:  .5s;
	z-index: 2;
	background-color: #cc4560;
	opacity: 0.8;
	text-align:center;
}

.popUpPage{
	z-index: 1;
	background: #68707c;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.popUpRegion{
	background: white;
	width:50%;
	margin: 100px auto;
	border-radius: 5px;
	border: 2px solid #cc4560;
	text-align: center;
	padding:50px 30px;
}

.popUpTitle, .popUpContent, .popUpTextBox{
	margin:20px 0;
}

.popUpTextBox{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	width: 80%;
}

button{
	margin-left:5px;
	border-radius: 10px;
	background: white;
	transition: .5s;
}